/* Feed containers */
.mainNewsImagesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  margin: -1rem 2rem 0rem 2rem;
  gap: 1rem;
}
.newsFeedContainer {
  height: 100rem; 
  overflow-y: auto;
  z-index: 4;
  border: #16333d 15px solid;
  border-radius: 20px / 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.searchFeedContainer {
  height: 200rem;
  overflow-y: auto;
  z-index: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}


.feedHeader {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 35px;
  margin-top: 1rem;
  justify-content: center;
  color: rgb(227, 181, 102);
  width: 90%;
}

/* APOD Elements */
.apod-container {
  border: #16333d 15px solid;
  border-radius: 2%;
  height: 830px;
}
.carousel {
  max-height: 800px;
  max-width: 1060px;
  margin: auto;
  background: black;
  border-radius: 2%;
  position: relative;
  overflow: visible;
}
.carousel-item img {
  max-width: 100%;
  max-height: 50rem;
  margin: auto;
}
.carousel-hidden .carousel-control-prev,
.carousel-hidden .carousel-control-next {
  display: none !important;
}
.apod-image-normal {
  max-width: 75%;
  max-height: 600px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.apod-image-fullscreen {
  max-width: 100%;
  max-height: 91vh !important;
  width: auto;
  height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
}
.prevNextButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.prevNextButton {
  width: 5rem;
}

/* Feed Elements */
.newsCard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border: #16333d 1px solid;
  background-color: black;
  padding: 1rem 0rem 2rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}

img.spaceImage,
img.articleImage {
  height: auto;
  max-width: 100%;
  display: block;
}
.articleTitle,
.spaceImageTitle {
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: 200;
  color: white;
}
.spaceImageTitle {
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
}
.articleImage {
  width: 25%;
  margin-bottom: 1rem;
}
.articleDescription {
  font-family: "Inter", sans-serif !important;
  font-weight: 200;
  padding-bottom: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.footer {
  padding: 5rem 0rem 5rem 0rem;
}

/* Buttons */
.btn-bd-custom {
  font-weight: 200 !important;
  background-color: #16333d !important;
  color: #ffffff !important;
}
.btn-bd-custom:hover {
  background-color: #265a48 !important;
  border-color: #16333d;
  color: #ffffff;
}
.btn-bd-custom:active {
  background-color: #265a48 !important;
  border-color: #16333d;
}
