.mainNewsImagesContainer {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  flex-wrap: wrap;
  margin: -1rem 2rem 0rem 2rem;
}
/* .newsFeedContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 5rem 2rem;
  max-width: 40%;
} */
.newsFeedContainer {
  height: 100rem; /* Set a fixed height */
  overflow-y: auto;
  z-index: 4;
  border: #16333d 15px solid;
  border-radius: 20px / 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 1em;
}
.feedHeader {
  font-family: "Inter", sans-serif !important;
  font-weight: 200 !important;
  font-size: 30px;
  margin-top: 2.2rem;
  justify-content: center;
  color: white;
  width: 90%;
} 
.apodContainer {
  height: 52rem; /* Set a fixed height */
  z-index: 10;
  border: #16333d 15px solid;
  background: black;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.carousel-item {
  height: 770px;
  width: 1040px;
  overflow: hidden;
  position: relative;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto; 
  padding: 0 20px;
}
.carousel-control-prev {
  left: 5px; 
  right: auto;
}
.carousel-control-next {
  right: 10px;
  left: auto;
}


.newsCard {
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
  border: #16333d 1px solid;
  background-color: black;
  padding: 1rem 0rem 2rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%; 
}

img.spaceImage, img.articleImage {
  height: auto;
  max-width: 100%;
  display: block;
}
.articleTitle, .spaceImageTitle {
  font-family: 'Inter', sans-serif;
  font-size: large;
  font-weight: 200;
  color: white;
}
.spaceImageTitle {
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
}
.articleImage {
  width: 25%;
  margin-bottom: 1rem;
}
.articleDescription {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  padding-bottom: 2rem;
  padding: .5rem .5rem .5rem .5rem;
}
.footer {
  padding: 5rem 0rem 5rem 0rem;
}
.prevNextButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.prevNextButton {
  width: 5rem;
}
.btn-bd-primary {
  font-family: 'Inter', sans-serif;
  --bs-btn-font-weight: 200;
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #16333d;
  --bs-btn-hover-color:  #ffffff;
  --bs-btn-hover-bg:  #265a48;
  --bs-btn-hover-border-color: #16333d;
  --bs-btn-active-bg:#265a48;
  --bs-btn-active-border-color: #16333d;
}
