.qrky-logo {
  margin-left: 2rem;
  height: 6rem;
}
.navbar-expand-lg {
  /* background-color: rgba(57, 55, 55, 0.361);
  backdrop-filter: blur(10px) !important; */
  /* box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1) !important;  */
  width: 100%;
  color: white;   
  position: fixed !important;
  top: 0 !important;
  z-index: 3;
}
.navbar-container {
  height: 6rem;
}
.nav-link {  
  font-family: 'Inter', sans-serif;
  font-weight: 200 !important;
  color: white !important;
  margin: 0rem 2rem 0rem 2rem;
}
